<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} Default title {% endblock %} </title>
        <link href="{% static 'mycipher/styles/main.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <main>
            <section>
                <h1> {% block main_title %} {% endblock %}</h1>
                <img src="{% static 'mycipher/cipher.jpg' %}">
            </section>
            <section>
                <p class="main">
                    {% block main_text %} {% endblock %}
                </p>
            </section>
            <section>
                <div class="box">
                    <h2>{% block title_msg %}{% endblock %}</h2>
                    <p>{% block message_text %}
                A tutaj powinna się pojawić treśc wiadomości
                {% endblock %}</p>
                </div>
                <div class="box">
                    <h2>{% block title_code %}{% endblock %}</h2>
                    <p>{% block code_text %}
                A tutaj pojawi się tekst zakodowany
                {% endblock %}</p>
                </div >
            </section>

        </main>
    </body>
</html>